.abouts {
  display: block;
}

//top部分

.abouts-top-comments-1 {
  margin: 80px 0 0 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 30px;
}

.abouts-top-comments-2 {
  margin: 40px 0 80px 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 30px;
}

.abouts-images {
  width: 100%;
}

.abouts-image-1 {
  text-align: center;
}

.abouts-top-image1 {
  width: 80%;
  height: 80%;
}

//top部分


//中身

.tabenara {
  width: 100%;
  display: flex;
}

.tabenara-top {
  margin: 30px auto 15px;
}

.tabenara-top-title1 {
  margin: 35px 0 40px 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 26px;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  padding: 1rem 2rem;
}

.tabenara-content {
  width: 100%;
}

.tabenara-txt {
  margin: 10px 0;
  font-size: 18px;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
}

.tabenara-txt-pop {
  margin: 25px 0;
  font-size: 22px;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-weight: 600;
}

//中身

//アルバム

.album {
  margin: 80px auto;
  background-color: white;
  position: relative;
}

.album img {
  width: 80%;
  animation-name: album;
  -webkit-animation-name: album;
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

.album .img1 {
  display: block;
  margin: 0 auto;
}

.album .img2 {
  animation-delay:5s;
  -webkit-animation-delay:5s;
  position: absolute;
  top: 0;
  left: 10%;
}

.album .img3 {
  animation-delay:5s;
  -webkit-animation-delay:10s;
  position: absolute;
  top: 0;
  left: 10%;
}

@keyframes album {
  0% {
    opacity: 0;
  }
  
  11.1% {
    opacity: 1;
  }

  22.2% {
    opacity: 1;
  }
  33.3% {
    opacity: 0;
  }
}

@-webkit-keyframes album {
  0% {
    opacity: 0;
  }
  
  11.1% {
    opacity: 1;
  }

  22.2% {
    opacity: 1;
  }
  33.3% {
    opacity: 0;
  }
}

//締め

.end-pop {
  margin: 0px 0 60px;
  font-size: 35px;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-weight: 600;
}