.abouts {
  display: block;
}

//top部分

.abouts-top-comments-1 {
  margin: 80px 0 0 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 30px;
}

.abouts-top-comments-2 {
  margin: 40px 0 80px 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 30px;
}

.abouts-images {
  width: 100%;
}

.abouts-image-1 {
  text-align: center;
}

.abouts-top-image1 {
  width: 80%;
  height: 80%;
}

//top部分


//中身

.tabenara {
  width: 100%;
  display: flex;
}

.tabenara-top {
  margin: 30px auto 15px;
}

.tabenara-top-title1 {
  margin: 35px 0 40px 0;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-size: 26px;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  padding: 1rem 2rem;
}

.tabenara-content {
  width: 100%;
}

.tabenara-txt {
  margin: 10px 0;
  font-size: 18px;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
}

.tabenara-txt-pop {
  margin: 25px 0;
  font-size: 22px;
  font-family: 'TsukuBRdGothic-Regular', sans-serif;
  font-weight: 600;
}

//中身

