.sign-up-header {
  height: 60px;
  width: 100%;
  background-color: #d4c8ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-value-title {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-weight: bold;
}