<%= render "shared/second_header" %>

<div class="abouts" >
  <div class="abouts-contents">
    <div class="abouts-top">
      <p style="text-align: center;" class="abouts-top-comments-1" >
        奈良でいい食材を探す”なら”<br>
      </p>
      <p style="text-align: center;" class="abouts-top-comments-2" >
        食べたい”奈良”で探せばいいじゃない
      </p>
    </div>
  </div>
</div>

<div class="abouts-images">
  <div class="abouts-image-1">
    <img src="/assets/abouts1.jpg" alt="食べたい奈良とはTOP" class="abouts-top-image1">
  </div>
</div>

<div class="tabenara">
  <div class="tabenara-top">
    <div class="tabenara-top-con">
      <div class="tabenara-top-title">
        <p style="text-align: center;" class="tabenara-top-title1" >
          食べたい奈良とは
        </p>
      </div>
    </div>
  </div>
</div>

<div class="tabenara-content">
  <div class=tabenara-contents>
        <p style="text-align: center;" class="tabenara-txt">
          食べたい奈良は
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          奈良の魅力溢れる食材を発信していくコミュニティサイトです。
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          こだわりを持った生産者と直接コミュニケーションが取れます。
        </p>
        <p style="text-align: center;" class="tabenara-txt-pop">
          だから安心！だから美味しい！
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          生産者とメッセージのやりとりができるので、
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          育成方法や直伝レシピなど、
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          気になった事はどんどん聞いてみましょう！
        </p>
        <p style="text-align: center;" class="tabenara-txt">
          珍しい食材や新しい発見が、見つかるかもしれませんよ？
        </p>
  </div>
</div>

<%= render "shared/footer" %>