<%= render "shared/header" %>

<div class="main" >

  <div class="contents" >
    <div class="first-view" >
      <img src="/assets/cooking1.jpg" alt="トップ画像左" class="top-image-left" >
      <img src="/assets/vegetables1.jpg" alt="トップ画像右" class="top-image-right" >
    </div>
    <div class="page-container" >
      <div class="page-container-inner" >
        <div class="page-container-main" >
          <p style="text-align: center;" class="top-text" >
            <b>食べたい奈良は、奈良の魅力溢れる食材を発信していくコミュニティサイトです。</b>
          </p>
          <p style="text-align: center;" class="top-text" >
            <b>生産者は自慢の商品をどんどん紹介しましょう！
          </p>
          <p style="text-align: center;" class="top-text" >
            <b>食材が気になったら、コメントで色々と聞いてみましょう！
          </p>
        </div>
      </div>
    </div>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='item-lists'>
      <% @products.each do |product| %>
        <li class='list'>
          <%= link_to "/" do %>  <%#item_path(item.id)%>
          <div class='item-img-content'>
            <%= image_tag product.image, class: "item-img" if product.image.attached? %>
            </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= product.product_name %>
            </h3>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
