div {
  display: block;
}

.first-view {
  display: flex;
}

.top-image-left {
  width: 50%;
}

.top-image-right {
  width: 50%;
}

.page-container {
  box-sizing: border-box;
}

.page-container-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.page-container-main {
  margin: 50px 0 0 0;
}

.top-text {
  font-size: 18px;
}