.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: rgb(144, 227, 252);
  border: 1px solid rgb(144, 227, 252);
  color: black;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}